# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode / IDE
.vscode/
.idea/
*.swp
*.code-workspace

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# SQLite
*.db
*.sqlite3
*.db-journal

# OS
.DS_Store
Thumbs.db

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/

# mp4 file
260612_VeriHouse_시연영상.mp4
